name: Lint application on Ubuntu latest on Node 16

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'

      - name: Install yarn packages (from cache if available)
        run: yarn install --immutable

      - name: Run linter
        run: yarn lint